<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User</title>
</head>
<body>
    <h1>Pagina di Show User</h1>
    <a href="/users/show-users">Torna a tutti gli utenti</a>
    <div>Nome: <span><%= user.name %></span></div>
    <div>Email: <span><%= user.email %></span></div>
    <div>Password: <span><%= user.passwd %></span></div>
</body>
</html>